.container{
    height:400px;
    width:500px;
    background-color: black;
    display:grid;
}

.item{
    height:60px;
    width:100px;
    border:2px solid black;
    text-align:center;
    background-color: greenyellow;
     
}