.box{
    height:200px;
    width: 400px;
    text-align:center;
    background-color: pink;
    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 4;
    animation-direction: normal;
}

h1{
    text-decoration: underline;
}

/* For Font Animation */
@keyframes fontAnimation{
    from{font-size:20px;}
    to{font-size:40px;}
}

/* For color */
@keyframes colorAnimation{
    from{background-color:pink;}
    to{background-color:aqua;}
}