.container{
    height:400px;
    width:500px;
    background-color: yellow;
    display:inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap:10px;
    column-gap:20px;
    a shorthand for this */
    grid-gap:10px; /*for rows and columns, if we give only 1 value it will apply on both row & column*/
    /* for horizontal direction */
    /* justify-items: start; */
    /* or */
    /* justify-items:end; */
    /* or */
    justify-items:center;
    /* for vertical direction */
    /* align-items:end; */
    /* or */
    align-items:center;
    /* and if we want to use both cases with as a single transition-property */
    place-items:center;
}

.item{
    height:60px;
    width:100px;
    border:2px solid black;
    text-align:center;
    background-color: greenyellow;
}

/* And if we want to apply property on only one div both horizontal & vertical*/
/* .one{
    justify-self: end;
    align-self:start;
} */

.one{
    place-self: start;
}